@model Boodler

<h2>This Boodler</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Middle</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Account Created</th>
    </tr>

        <tr>
            <td>@Model.UsersID</td>
            <td>@Model.FirstName</td>
            <td>@Model.MiddleName</td>
            <td>@Model.LastName</td>
            <td>@Model.EmailAddress</td>
            <td>@Model.CreationDate</td>
        </tr>
</table>

