@model IEnumerable<BoxList>

<h3>Box Lists</h3>
<h5>Access each list by choosing the ListsID number.</h5>
<table class="table">
    <tr>
        <th>ListsID</th>
        <th>Name</th>
        <th>Total Boxes</th>
        <th>Boxes Filled</th>
        <th>Boxes Available</th>
        <th>Boxes Shipped</th>
        <th>All Shipped?</th>
    </tr>

    @foreach (var boxlist in Model)
    {
    <tr>
        <td><a href=/BoxList/ViewBoxList/@boxlist.ListsID>@boxlist.ListsID</a></td>
        <td>@boxlist.Name</td>
        <td>@boxlist.BoxNumber</td>
        <td>@boxlist.BoxesFilled</td>
        <td>@boxlist.BoxesAvailable</td>
        <td>@boxlist.BoxesShipped</td>
        <td>@boxlist.ShippedText</td>
    </tr>

    }
</table>

