@model BoxList

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>ListsID</th>
        <th>Name</th>
        <th>Total Boxes</th>
        <th>Boxes Filled</th>
        <th>Boxes Available</th>
        <th>Shipped?</th>
    </tr>
    <tr>
        <td>@Model.ListsID</td>
        <td>@Model.Name</td>
        <td>@Model.BoxNumber</td>
        <td>@Model.BoxesFilled</td>
        <td>@Model.BoxesAvailable</td>
        <td>@Model.Shipped</td>
    </tr>

</table>

