@model BoxList

<h4>List: @Model.Name - Contact: @Model.ContactName</h4>

<table class="table">
    <tr>
        <th>ListsID</th>
        <th>Name</th>
        <th>Total Boxes</th>
        <th>Boxes Filled</th>
        <th>Boxes Available</th>
        <th>Boxes Shipped</th>
        <th>All Shipped?</th>
    </tr>
    <tr>
        <td>@Model.ListsID</td>
        <td>@Model.Name</td>
        <td>@Model.BoxNumber</td>
        <td>@Model.BoxesFilled</td>
        <td>@Model.BoxesAvailable</td>
        <td>@Model.BoxesShipped</td>
        <td>@Model.ShippedText</td> 
    </tr>

</table>

<div style="display:block">
    <h4>
    <a href="/Signup/ViewSignupsByBoxList/@Model.ListsID">See Signups for this Box List</a>
    </h4>
</div>
<p></p>

<h4>Signup for boxes on this list:</h4>

@using (Html.BeginForm("MakeBoxListSignup", "Signup", "Post"))
{
    <input asp-for="ListsID" type="hidden" value="@Model.ListsID" />
    <input asp-for="SignupDate" type="hidden" value="@DateTime.Now" />
    <div class="form-group">
        <label for="">Select the Boodler</label>
        <select class="form-control" name="UsersID" value="">
            @foreach (var boodler in Model.Boodlers)
            {
                <option value="@boodler.UsersID">@boodler.UsersID @boodler.FullName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="">How many boxes?</label>
        <select class="form-control" name="quantity" value="">
            @for (int i = 1; i <= Model.BoxesAvailable; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <input type="submit" value="Signup for Boxes" class="btn btn-primary" />
}