@model IEnumerable<Signup>

<h2>Signups</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>List Name</th>
        <th>Boodler</th>
        <th>Creation Date</th>
        <th>Ship Date</th>
        <th>Ship State</th>
    </tr>

    @foreach (var signup in Model)
    {
        <tr>
            <td><a href=/Signup/ViewSignup/@signup.SignupsID>@signup.SignupsID</a></td>
            <td>@signup.BoxListName</td>
            <td>@signup.FullName</td>
            <td>@signup.Creation</td>
            <td>@signup.ShipDate</td>
            <td>@signup.ShipState</td>
        </tr>

    }
</table>
